{% extends 'base_template.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block main_content %}
    <a href="{% url 'car index' %}" class="card">
        <i class="fa-solid fa-car-side"></i>
        <span>Cars for sale</span>
    </a>
    
    <a href="#" class="card">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <span>Repair & Maintenance</span>
    </a>
    
    <a href="#" class="card">
        <i class="fa-regular fa-handshake"></i>
        <span>Services</span>
    </a>
    
    <a href="#" class="card">
        <i class="fa-solid fa-gears"></i>
        <span>Parts</span>
    </a>
    
    <a href="https://ev-database.org/" class="card">
        <i class="fa-solid fa-database"></i>
        <span>Database</span>
    </a>
    
    <a href="https://vsichkotok.bg/" class="card">
        <i class="fa-solid fa-charging-station"></i>
        <span>Charging</span>
    </a>
{% endblock %}
