.car-list {
     margin-top: 20px;
 }

 .car-card {
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 15px;
     margin-bottom: 15px;
     background-color: #f9f9f9;
 }
 .car-card ul {
     padding-left: 15px;
     list-style-type: none;
 }
 .car-card h2 {
     margin-top: 0;
 }



