{% extends 'base_template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/car_index.css' %}">
{% endblock %}

    <main>
    {% block main_content %}
        
        <h1>Available cars</h1>
        <div class="car-list">
            {% if cars %}
                {% for car in cars %}
                    <div class="car-item">
                        <h2>{{ car }}</h2>
                        <p><span>Trim Level:</span> {{ car.trim_level }}</p>
                        <p><span>Asking Price:</span> €{{ car.asking_price }}</p>
                        <p><span>Mileage:</span> {{ car.mileage }} km</p>
                        <p><span>Battery Capacity:</span> {{ car.battery_capacity }} kWh</p>
                        <p><span>Horsepower:</span> {{ car.horsepower }} HP</p>
                        <p><span>Range:</span> {{ car.range }} km</p>
                        <p><span>Drivetrain:</span> {{ car.get_drivetrain_display }}</p>
                        <p><span>Body Type:</span> {{ car.get_body_type_display }}</p>
                        <p><span>Color:</span> {{ car.get_color_display }}</p>
                        <p><span>Description:</span> {{ car.description }}</p>
                        <p><span>Location:</span> {{ car.get_location_display }}</p>
                        <p><span>Doors:</span> {{ car.doors }}</p>
                        <p><span>VIN:</span> {{ car.vin }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No cars available at the moment.</p>
            {% endif %}
        </div>
    {% endblock %}
    </main>
