{% extends 'base_template.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/car_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
    <title>Create New Car</title>

<body>
    <main>
        {% block main_content %}
            <h2>New Car Form:</h2>
            <form method="post" action="{% url 'create ev car' %}">
                {% csrf_token %}
                {{ form.as_p }}
        
                <button type="submit">Add Car</button>
            </form>
        {% endblock %}
    </main>
</body>


